= form_for @user do |f|
  =render 'shared/errors', obj: @user
  .form-row
    .col-auto
      = f.label :username
      .input-group
        .input-group-prepend
          .input-group-text @
        = f.text_field :username, type: 'text', class: 'form-control', placeholder: 'awesome', autofocus: true
    .col
      .field
        = f.label :email
        = f.text_field :email, class: 'form-control', placeholder: 'me@awesome.com'
  .form-row
    .col
      .field
        = f.label :password
        = f.password_field :password, class: 'form-control', placeholder: 'Enter a good one'
  .form-row.mt-3
    .col
      .actions
        .row
          .col.mr-auto
            = link_to "Cancel", @user.new_record? ? users_path : user_path(@user), class: 'btn btn-outline-secondary'
          .col.text-right
            = f.submit class: 'btn btn-primary'