= form_for @user do |f|
  - if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |message|
          %li= message

  .form-row
    .col-auto
      = f.label :username
      .input-group
        .input-group-prepend
          .input-group-text @
        = f.text_field :username, type: 'text', class: 'form-control', placeholder: 'awesome', autofocus: true
    .col
      .field
        = f.label :email
        = f.text_field :email, class: 'form-control', placeholder: 'me@awesome.com'
  .form-row
    .col
      .field
        = f.label :password
        = f.password_field :password, class: 'form-control', placeholder: 'Enter a good one'
  .form-row.mt-3
    .col
      .actions
        = f.submit 'Sign Up', class: 'btn btn-primary'
