.row
  .col
    %h1 Users
  .col.text-right.mt-3
    =link_to "New User", signup_path, class: 'btn btn-primary' if logged_in?

.row
  .col
    - @users.each do |user|
      .card.mb-2
        .card-body
          .row
            .col.mr-auto
              .row.mb-2
                .col
                  %h5.card-title= user.username
              .row
                .col
                  %h6.card-subtitle.mb-2.text-muted=user.email
                  .card-text.small
                    Articles
                    %span.badge.badge-primary= user.articles.size
              -#      todo make this a link later
              -if logged_in? && current_user == user
                .row.mt-3
                  .col
                    = link_to "Show", user_path(user), class: 'btn btn-sm btn-outline-primary'
                    = link_to "Edit", edit_user_path(user), class: 'btn btn-sm btn-outline-secondary'
            .col.text-right
              = link_to gravatar_for(user, size:80), user